<header class="box"> 
  <img src= "/images/banner.png" alt="logo" class="center">
</header>

<nav class="topnav" id="myTopnav">
  <a href="/" class="active">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  </a>
</div>
</nav>
